{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block headers %}
    <head>
        <title>Island</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'msm/styles.css' %}"/>
    </head>

{% endblock %}
{% block content %}

    <div class="monster-tables">
        <h1>Остров Растений</h1>
        <p>Классный остров, очень нравится, бом бом боммммм</p>
        <h2 id="monster-type-name">Обычные монстры</h2>
        {% render_table usual_monsters %}
        <br>
        <h2 id="monster-type-name">Редкие монстры</h2>
        {% render_table rare_monsters %}
        <br>
        <h2 id="monster-type-name">Эпические монстры</h2>
        {% render_table epic_monsters %}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("tr[data-href]");

                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
        </script>
    </div>

{% endblock %}