@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-image: url('blue_bg.jpg');
}

.table-container {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.monster-tables {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px 60px;
    background-color: whitesmoke;
}

.monster-tables tbody tr:hower {
    background-color: gray;
}

#bootstrap-overrides h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
}

#monster-type-name {
    
    text-align: center;
}

#bootstrap-overrides h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

#bootstrap-overrides p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

#bootstrap-overrides td {
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    text-align: center;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.central {
    display:block;
    margin:auto;
    width: 25%;
    height: 25%;
}

.p_central {
    text-align: center;
}