@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.menu-main {
    list-style: none;
    margin: 20px 0 5px;
    padding: 20px 0 5px;
    text-align: center;
    background: #f8f8f8;
}
.menu-main li {
    display: inline-block;
}
.menu-main li:after {
    color: #656464;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {
    content: none;
}
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {
    color: #656464;
}
.menu-main a:hover {
    color: #586cc6;
}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #586cc6;
    transition: .8s;
}
.menu-main a:hover:before {
    left: 0;
}
.menu-main a:hover:after {
    right: 0;
}
@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

body {
    background-image: url('blue_bg.jpg');
}

.table-container {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    min-width: 20%;
}

.monster-tables {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px 60px;
    background-color: whitesmoke;
}


#bootstrap-overrides h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
}

#monster-type-name {
    
    text-align: center;
}

#bootstrap-overrides h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

#bootstrap-overrides p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

#bootstrap-overrides td {
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    text-align: center;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.central {
    display:block;
    margin:auto;
    width: 25%;
    height: 25%;
}

.p_central {
    text-align: center;
}